@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;;
}
html { 
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: row;
}
nav {
    font-size: large;
    background-color: #BD5D38;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: center;
}
nav > * {
    margin: 10px;
}
nav > img {
    width: 150px;
    border: 5px solid #CA7D60;
    border-radius: 50%;
}
nav > a {
    text-decoration: none;
    color: #DEAE9C;
    text-transform: uppercase;
}
nav > a.focus {
    color: #ffffff;
}
main {
    background-color: #ffffff;
    width: 80%;
    color: #868E96;
}
main > article {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 10% 8%;
    border-bottom: 1px solid #DEE2E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2 {
    color: #343A40;
}

.about-header{
    font-size: 4.5pc;
    
}
span {
    color: #BD5D38;
}

.about-text {
    margin-top: 30px;
}

.about-links {
    margin: 50px 0;
    font-size: larger;
}

.about-links > a {
    text-decoration: none;
    background-color: #343A40;
    padding: 10px 12px;
    margin: 0px 20px 0 0;
    border-radius: 50%;
    color: #ffffff;
}
.about-links > a:hover {
    background-color: #BD5D38;
}

.section-head {
    font-size: 50px;
    margin-bottom: 40px;
}

.topic-head {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.topic-subhead {
    font-weight: 100;
    margin: 0px 0px 10px 0px;
}

.topic-date {
    font-size: smaller;
}

.topic-data {
    font-size: 50px;
}

.topic-data > i:hover {
    color: #BD5D38;
}

.topic-detail {
    font-size: larger;
}

.tick-mark {
    list-style: none;
}

.mt-20 {
    margin-top: 20px;
}

.proj-list {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.proj-list > a {
    /* flex-grow: ; */
}

.proj-list > a > img {
    width: 250px;
    height: 250px;
}

#awards > a {
    color: #343A40;
    text-decoration: none;
}
#awards > a:hover {
    color: #BD5D38;
}

.contact-flex {
    display: flex;
    flex-wrap: wrap;
}

.contact-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    line-height: 45px;
    font-size: x-large;
}

.contact-details > div > i {
    width: 25px;
}
.contact-details > div > i:hover {
    color: #BD5D38;
}


form {
    display: flex;
    flex-direction: column;
    font-size: larger;
    min-width: 300px;
    flex: 1;
}
input, textarea {
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #343A40;
    outline: none;
}

input:focus, textarea:focus{
    border: 2px solid #BD5D38;
}

input[type="submit"] {
    background-color: #343A40;
    border: none;
    color: #ffffff;
    padding: 20px;
    font-size: large;
    box-sizing: content-box;
}

input[type="submit"]:hover {
    background-color: #BD5D38;
}